<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>>
  </head>
  <body>
    <h1>Deer <%= @user.name %>.</h1>
    <p>
    welcome to my site!
    <p>
  </body>
</html>
